@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');
@import './normalize.css';
@import './mixin.scss';
@import './blocks.scss';
@import './components.scss';
@import './text.scss';

html {
    font-size: 14px;
    height: 100%;
}

body {
    width: 1570px;
    height: 1000px;
    outline: 100px solid lightgray;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: $font-s3;
    font-weight: 500;
}

hr {
    border: none;
    border-top: 1px solid #D8D8D8;
    margin: 1.28rem 0;
}